<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichat.boss.data.dao.BusinessInfoMapper">
	<!-- <select id="query" resultType="com.weichat.boss.data.pojo.BusinessInfo"> 
		select * from tb_fun_businessinfo </select> -->
	<resultMap id="BaseResultMap" type="com.weichat.boss.data.pojo.BusinessInfo">
		<id column="BusinessID" jdbcType="INTEGER" property="businessID" />
		<result column="Meter_Code" jdbcType="INTEGER" property="meterCode" />
		<result column="Customer_Name" jdbcType="VARCHAR" property="customerName" />
		<result column="Address" jdbcType="VARCHAR" property="address" />
		<result column="Telephone" jdbcType="VARCHAR" property="telephone" />
		<result column="Business_Content" jdbcType="VARCHAR" property="businessContent" />
		<result column="OperatorID" jdbcType="INTEGER" property="operatorID" />
		<result column="DepartID" jdbcType="INTEGER" property="departID" />
		<result column="Create_Time" jdbcType="DATE" property="createTime" />
		<result column="Over_Time" jdbcType="DATE" property="overTime" />
		<result column="Status" jdbcType="INTEGER" property="status" />
		<result column="BusinessTypeID" jdbcType="INTEGER" property="businessTypeID" />
		<result column="BusinessNo" jdbcType="VARCHAR" property="businessNo" />
	</resultMap>
	
	<resultMap id="BaseResultMap2" type="com.weichat.boss.action.business.vo.BusinessInfoVo">
		<id column="BusinessID" jdbcType="INTEGER" property="businessID" />
		<result column="Meter_Code" jdbcType="INTEGER" property="meterCode" />
		<result column="Customer_Name" jdbcType="VARCHAR" property="customerName" />
		<result column="Address" jdbcType="VARCHAR" property="address" />
		<result column="Telephone" jdbcType="VARCHAR" property="telephone" />
		<result column="Business_Content" jdbcType="VARCHAR" property="businessContent" />
		<result column="OperatorID" jdbcType="INTEGER" property="operatorID" />
		<result column="DepartID" jdbcType="INTEGER" property="departID" />
		<result column="Create_Time" jdbcType="DATE" property="createTime" />
		<result column="Over_Time" jdbcType="DATE" property="overTime" />
		<result column="Status" jdbcType="INTEGER" property="status" />
		<result column="BusinessTypeID" jdbcType="INTEGER" property="businessTypeID" />
		<result column="BusinessNo" jdbcType="VARCHAR" property="businessNo" />
		<result column="OperatorName" jdbcType="VARCHAR" property="name" />
		<result column="BusinessTypeName" jdbcType="VARCHAR" property="businessTypeName" />
	</resultMap>


	<select id="queryToBusinesses"
		parameterType="com.weichat.boss.action.business.vo.BusinessCondition" resultMap="BaseResultMap2">
		select BusinessID, BusinessNo, BusinessTypeId,
		BusinessTypeName, Meter_Code, Customer_Name, telephone, Address,
		Business_Content, OperatorID, [Count], name as OperatorName, deptid,
		depart_name, Create_time, Over_Time, Status, WorkflowContent from
		View_Business where 1=1 and BusinessID in (Select BusinessId from
		tb_fun_workflow where status = 0 and OperatorID = #{operatorID,jdbcType=INTEGER}) Order by
		BusinessId desc
	</select>
	<select id="query"
		resultMap="BaseResultMap2">
		select top 10 *
		from 
		(
		select row_number() over(order by BusinessID) as rownumber,BusinessID, BusinessNo, BusinessTypeId,
		BusinessTypeName, Meter_Code, Customer_Name, telephone, Address,
		Business_Content, OperatorID, [Count], name as OperatorName, deptid,
		depart_name, Create_time, Over_Time, Status, WorkflowContent from
		View_Business where 1=1 
		<if test="businessCondition.businessContent != null and businessCondition.businessContent != ''">
		and Business_Content like &apos;%#{businessCondition.businessContent,jdbcType=VARCHAR}%&apos; 
		</if>
		and BusinessID in (Select
		BusinessId from
		tb_fun_workflow where 
		1=1 
		<if test="businessCondition.status != -1">
		and status = #{businessCondition.status,jdbcType=INTEGER}
		</if>
		<if test="businessCondition.operatorId != 0">
		and OperatorID = #{businessCondition.operatorId,jdbcType=INTEGER})
		</if>
		<if test="businessCondition.startTime != null and businessCondition.startTime != ''">
		and CONVERT(varchar(10), Create_Time, 120) >= #{businessCondition.startTime,jdbcType=DATE}
		</if>
		<if test="businessCondition.endTime != null and businessCondition.endTime != ''">
		and CONVERT(varchar(10), Create_Time, 120) &lt;= #{businessCondition.endTime,jdbcType=DATE}
		</if>
		)) A where rownumber > (10*#{pageNo})
		Order by BusinessId Desc
	</select>
	
	<select id="queryById" parameterType="java.lang.Integer" resultType="com.weichat.boss.action.business.vo.BusinessInfoVo">
		select BusinessID as businessID, BusinessNo as businessNo, BusinessTypeId as businessTypeID,
		BusinessTypeName as businessTypeName, Meter_Code as meterCode, Customer_Name as customerName, telephone as telephone, Address as address,
		Business_Content as businessContent, OperatorID, [Count], name, deptid,
		depart_name, Create_time as createTime, Over_Time, Status as status, WorkflowContent from
		View_Business where BusinessID = #{businessID,jdbcType=INTEGER}
	</select>
	<insert id="save" parameterType="com.weichat.boss.data.pojo.BusinessInfo">
		<selectKey resultType="int" keyProperty="businessID" order="AFTER">
			select @@IDENTITY AS businessID
		</selectKey>
		insert into tb_fun_businessinfo (Meter_Code, Customer_Name,
		Address,
		Telephone, Business_Content,
		OperatorID, Create_Time, Over_Time,
		DepartID, Status, BusinessTypeID,BusinessNo
		)
		values
		(#{meterCode,jdbcType=VARCHAR},
		#{customerName,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR},
		#{businessContent,jdbcType=VARCHAR},
		#{operatorID,jdbcType=INTEGER},
		#{createTime,jdbcType=DATE},
		#{overTime,jdbcType=DATE},
		#{departID,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
		#{businessTypeID,jdbcType=INTEGER},
		#{businessNo,jdbcType=VARCHAR}
		)


	</insert>
	
	<update id="update" parameterType="com.weichat.boss.data.pojo.BusinessInfo">
		update tb_fun_businessinfo
	    set Meter_Code = #{meterCode,jdbcType=VARCHAR},
	      Customer_Name = #{customerName,jdbcType=VARCHAR},
	      Address = #{address,jdbcType=VARCHAR},
	      Telephone = #{telephone,jdbcType=VARCHAR},
	      Business_Content = #{businessContent,jdbcType=VARCHAR},
	      OperatorID=#{operatorID,jdbcType=INTEGER},
	      Create_Time = #{createTime,jdbcType=DATE},
	      Over_Time = #{overTime,jdbcType=DATE},
	      DepartID = #{departID,jdbcType=INTEGER},
	      Status = #{status,jdbcType=INTEGER},
	      BusinessTypeID = #{businessTypeID,jdbcType=INTEGER},
	      BusinessNo = #{businessNo,jdbcType=VARCHAR},
	      where businessID = #{businessID,jdbcType=INTEGER}
	</update>

</mapper>