<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichat.boss.data.dao.CustomerMapper">
	<resultMap id="BaseResultMap" type="com.weichat.boss.data.pojo.Customer">
		<id column="autoNo" jdbcType="VARCHAR" property="autoNo" />
		<result column="customerNo" jdbcType="VARCHAR" property="customerNo" />
		<result column="customerName" jdbcType="VARCHAR" property="customerName" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
	</resultMap>

	<select id="query" resultMap="BaseResultMap">
		 Select top 10 * from (select row_number() over(order by 自动表号) as
		rownumber, 自动表号 as autoNo, 立户编号 as customerNo, 户主名 as customerName, 住址
		as address, 联系电话 as phone from Water2008.dbo._ViewMeterMain) v Where
		1=1
		<if test="customer.customerNo != null">
			and customerNo like &apos;%${customer.customerNo}%&apos;
		</if>
		<if test="customer.customerName != null">
			and customerName  like &apos;%${customer.customerName}%&apos;
		</if>
		<if test="customer.address != null">
			and address like &apos;%${customer.address}%&apos;
		</if>
		<if test="customer.phone != null">
			and phone  like &apos;%${customer.phone}%&apos;
		</if>
		and rownumber > (10*#{pageNo})
		
	</select>

</mapper>